.leaderboardItem {
  width: 100%;
  display: grid;
  grid-template-columns: 5% 15% 45% max-content;
  align-items: center;
  gap: 7%;
}
.videoImg {
  width: 180px;
}
.profileImg {
  width: 90px;
}
.boardRaisedBtGroup {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 15px;
  margin-left: 3rem;
}
.boardRaisedBtn {
  width: max-content;
  padding: 5px 10px;
  background-color: rgba(128, 128, 128, 0.301);
  border-radius: 6px;
  color: black;
}
.boardRaisedBtnActive {
  background-color: black;
  color: white;
}
.icon-call-img {
  height: 16px;
}
.icon-info-img {
  height: 16px;
}
.text {
  font-size: 16px;
}
@media screen and (max-width: 480px) {
  .profileImg {
    width: 80%;
  }
  .videoImg {
    width: 100%;
  }
  .leaderboardItem {
    grid-template-columns: 5% 15% 45% 30%;
  }
  .boardRaisedBtGroup {
    margin-left: 0.7rem;
  }
  .boardRaisedBtn {
    font-size: 12px;
  }
}
@media screen and (max-width: 380px) {
  .text {
    font-size: 12px;
  }
  .icon-call-img {
    margin-top: 6px;
    height: 12px;
  }
  .icon-info-img {
    margin-top: 6px;
    height: 12px;
  }
}
